body {
    background-color: #30B18D;
}

.block {
    display: block;
}

#menuButton {
    position: absolute;

    background: rgba(14, 54, 42, 0.4);
    border-radius: 15px;

    top: 2.5vh;
    left: 2.5vh;

    width: 5vh;
    height: 5vh;
}

#line1 {
    box-sizing: border-box;


    mix-blend-mode: soft-light;
    background-color:#000000;
    border-radius: 25px;

    height: 10%;
    margin-top: 15%;
    margin-left: 15%;
    margin-right: 15%;
}

#line2 {
    box-sizing: border-box;


    mix-blend-mode: soft-light;
    background-color: #000000;
    border-radius: 25px;

    height: 10%;
    margin-bottom: 20%;
    margin-top: 20%;
    margin-left: 15%;
    margin-right: 15%;
}

#line3 {
    box-sizing: border-box;


    mix-blend-mode: soft-light;
    background-color:#000000;
    border-radius: 25px;

    height: 10%;
    margin-bottom: 15%;
    margin-left: 15%;
    margin-right: 15%;
}

#logo {
    position: absolute;
    left: 15%;
    top: 14%;
    width: 70%;
}

#greenBg {
    position: absolute;

    top: 30%;
    bottom: 5%;
    left: 10%;
    width: 80%;
    height: 55%;

    background-color: #185B48; 
    border-radius: 50px;

}

#photo {
    box-sizing: border-box;
    position: absolute;

    top: 5%;
    left: 7%;
    width: 86%;

    border: 10px solid #38C9A0;
    border-radius: 25px;
}

#title {
    position: absolute;
    display: flex;
    top: 37%;
    left: 15%;
    width: 70%;

    font-family: 'made_gentleregular, Arial, sans-serif;';
    color: #38C9A0;
    text-align: center;
    align-items: center;
    font-size: 6em;
    font-weight: 700;
}

#line4 {
    position: absolute;
    border: 10px solid #38C9A0;
    border-radius: 25px;

    top: 66%;
    left: 15%;
    width: 67%;
}

#subtitle {
    position: absolute;
    top: 69%;
    left: 10%;
    width: 80%;

    font-family: 'made_gentleregular, Arial, sans-serif;';
    font-weight: 500;
    font-size: 3em;
    display: flex;
    align-items: center;
    text-align: center;

    color: #38C9A0;
}
