* {
    box-sizing: border-box;
}

html { 
    background: linear-gradient(#191970, #c20d0d) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}